.section {
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.loading {
  text-align: center;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

.underline {
  width: 5rem;
  height: 0.25rem;
  background: #333;
  margin: 0 auto;
}

.jobs-center {
  display: grid;
  gap: 2rem;
}

.job-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.25rem;
  transition: var(--transition);
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.job-btn:hover,
.active-btn {
  color: #fff;
  background: #333;
}

.job-info {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 0.25rem;
}

.job-info h3 {
  font-size: 2rem;
}

.job-info h4 {
  color: #333;
  font-size: 1.5rem;
}

.job-date {
  color: #555;
  margin-bottom: 1rem;
}

.job-desc {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.job-icon {
  margin-right: 1rem;
  color: #333;
}
